<div class="card">
    <header class="header">
        <h2 class="name">Matheus</h2>
        <h2 class="age">19 anos</h2>
    </header>

    <div class="imagem">
        <img src="../../assets/IMG-20230722-WA0080.jpg" alt="" width="150px" class="img">
    </div>

    <div class="infos">
        <div>
            <ul class="detalhes">
                <div>
                    <h2>Altura</h2>
                    <li class="li"><img src="../../assets/regua.png" width="25px">1,75M</li>
                </div>
                
                <div>
                    <h2>Peso</h2>
                    <li class="li"><img src="../../assets/balanca.png" width="25px">53KG</li>
                </div>
            </ul>
        </div>
    </div>

    <div class="contatos">
        <div class="ajuste">
            <div class="redesSociais">
                <a href="https://www.instagram.com/mvth_33/"><img src="../../assets/instagram.png" alt="" width="30px"><h3>www.instagram.com/mvth_33/</h3></a>
            </div>
            <br>
            <div class="redesSociais2">
                <a href="https://twitter.com/MTlopes8"><img src="../../assets/twitter.png" alt="" width="30px"><h3>www.twitter.com/MTlopes8/</h3></a>
            </div>
        </div>
        
        
    </div>
</div>
